@import "../../assets/styles/variables.scss";

.pagination {
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 700px;
  font-size: 18px;
  line-height: 1.25rem;
  overflow: auto;

  &__link {
    height: 100%;
    display: inline-block;
    padding: 15px;
    color: #6c7185;
    border: 1px solid #ddd;
    box-shadow: none;
    transition: all 0.3s ease;

    &:hover {
      color: #fff;
      background-color: $theme-color;
    }
  }

  &__text {
    position: relative;
    top: -1px;
  }

  &-before {
    width: 50%;
    float: left;
    text-align: left;

    .pagination__text {
      margin-right: 5px;
    }

    &__icon {
      display: inline-block;
      position: relative;
      top: 2px;
      margin-right: 3px;
    }
  }

  &-after {
    width: 50%;
    float: right;
    text-align: right;

    .pagination__text {
      margin-left: 5px;
    }

    &__icon {
      display: inline-block;
      position: relative;
      top: 2px;
      margin-left: 3px;
    }
  }
}
