.archives {
  .archive-item__link {
    display: block;
    padding:  3px 0;
    color: #555;
    font-size: 15px;
    text-decoration: none;
  }

  .archive-item__icon {
    margin-right: 5px;
    vertical-align: text-top;
  }

  .archive-item__text {
    letter-spacing: 1px;

    &:hover {
      color: #dc001c;
    }
  }

  .archive-item-month {
    &:hover {
      text-decoration: underline;
    }
  }

  .archive-item-count {
    padding-left: 3px;
    color: #aaa;
    font-size: .85em;
  }
}
