.post-detail {
  padding-bottom: 20px;

  .post-header {
    margin-top: 20px;
    margin-bottom: 15px;

    .post-title {
      margin: 0;
      font-size: 36px;
      font-weight: 400;
      color: #dc001c;
    }

    .post-meta {
      color: #6c7185;
      font-size: 14px;

      .post-meta__icon {
        margin-right: 5px;
        vertical-align: middle;
        font-size: 0.85em;
      }

      .post-created-at {
        margin-right: 10px;
      }
    }
  }
}
