@import "../../assets/styles/variables.scss";

#comment {
  margin-bottom: 2rem;

  .gt-container {
    a {
      color: $theme-color;
      box-shadow: none;
    }

    .gt-link {
      border-bottom: none;
    }

    .gt-ico {
      svg {
        fill: $theme-color;
      }

      &.gt-ico-github {
        svg {
          fill: #24292e;
        }
      }

      &.gt-ico-tip {
        svg {
          fill: #6c7185;
        }
      }
    }

    .gt-action.is--active:before {
      background-color: $theme-color;
    }

    .gt-header {
      .gt-header-comment {
        .gt-header-controls {
          .gt-header-controls-tip {
            color: #6c7185;
          }

          .gt-btn {
            &.gt-btn-login,
            &.gt-btn-public {
              background-color: $theme-color;
              border-color: $theme-color;
            }

            &.gt-btn-preview {
              color: $theme-color;
              border-color: $theme-color;
            }
          }
        }
      }
    }

    .gt-comments {
      padding-top: 2rem;

      .gt-comments-null {
        color: #6c7185;
      }

      .gt-comment-content {
        background-color: rgba($theme-color, 0.02);

        blockquote {
          background-color: rgba($theme-color, 0.03);
          border-left: 0.25em solid rgba($theme-color, 0.1);
        }
      }
    }
  }
}
