@import "../../assets/styles/variables.scss";

.archives {
  .archive-item {
    &__link {
      display: block;
      padding: 3px 0;
      color: #555;
      font-size: 15px;
      line-height: 20px;
      box-shadow: none;
      transition: all 0.2s ease;
    }

    &__icon {
      position: relative;
      top: 2px;
      margin-right: 2px;
      vertical-align: middle;
    }

    &__text {
      letter-spacing: 1px;

      &:hover {
        color: $theme-color;
      }
    }

    &__month {
      &:hover {
        text-decoration: underline;
      }
    }

    &__count {
      padding-left: 3px;
      color: #aaa;
      font-size: 0.85em;
    }
  }
}
