.tag-cloud {
  .tag-item__link {
    float: left;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
  }
}
