@import "../../assets/styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  opacity: 1;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  transition: opacity ease-out .3s;
  overflow: hidden;

  &.hide {
    opacity: 0;
  }

  .title {
    padding: 23px 0;
    float: left;
    cursor: pointer;

    &__link {
      margin: 0;
      color: #333;
      font-size: 20px;
      text-transform: uppercase;
      box-shadow: none;
    }

    &__icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-bottom: 0;
      vertical-align: top;
    }
  }

  .nav {
    float: right;
    width: auto;

    .menu {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .menu-item {
      display: inline-block;
      margin: 0;
      padding: 23px 15px;
      font-size: 16px;
      position: relative;

      &.search {
        padding: 23px 0;
        margin-right: 10px;
      }

      &.active {
        &::after {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 8px solid rgba(0, 0, 0, 0.04);
        }
      }

      &__link {
        color: #333;
        text-transform: uppercase;
        box-shadow: none;

        &:hover {
          color: $theme-color;
        }
      }

      &__icon {
        position: relative;
        top: -2px;
        font-size: 14px;
        vertical-align: middle;
      }
    }
  }
}

