.post {
  padding-bottom: 10px;

  &.excerpt {
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0785);

    .post-header {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .post-header {
    margin-top: 20px;
    margin-bottom: 15px;

    .post-title {
      margin: 0;
      margin-bottom: 0.75rem;
      font-size: 32px;
      font-weight: 400;
      color: #dc001c;

      &__link {
        color: inherit;
        font-size: 28px;
        text-decoration: none;
        box-shadow: none;

        &:hover {
          color: lighten(#dc001c, 5);
        }
      }
    }

    .post-meta {
      color: #6c7185;
      font-size: 14px;

      .post-meta__icon {
        margin-right: 5px;
        vertical-align: middle;
        font-size: 0.85em;
      }

      .post-created-at {
        margin-right: 10px;
      }
    }
  }

  .post-content {
    .post-excerpt {
      margin-top: 10px;
      margin-bottom: 20px;
      color: rgba(#2e3444, 0.85);
      font-size: 16px;
    }

    .post-read-more {
      font-size: 16px;
      color: #dc001c;

      &:hover {
        color: lighten(#dc001c, 5);
      }

      .post-read-more__link {
        color: inherit;
        box-shadow: none;
      }
    }
  }

  .post-footer {
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.0785);

    .post-tags {
      margin-bottom: 10px;

      .post-tag {
        color: #dc001c;
        margin-right: 10px;

        &__icon {
          margin-right: 2px;
          font-size: 0.9rem;
          vertical-align: middle;
        }

        &__link {
          font-size: 16px;
          box-shadow: none;
        }
      }
    }
  }
}
