.container {
  overflow: auto;
  padding: 0 50px;

  .posts {
    max-width: 650px;
    padding-top: 15px;
  }
}

.widget {
  padding-top: 20px;
  padding-bottom: 20px;
  // margin-right: 50px;

  & + & {
    border-top: 1px solid #f0f0f0;
  }

  .widget-title {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .widget-content {
    overflow: auto;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }

  .widgets {
    display: none;
  }
}
